*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    scroll-behavior: smooth;
  }
  
  .a-h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: hsl(214deg 100% 50%);
    font-size: 40px;
    margin-bottom: 20px;
    text-decoration-line: underline;
  }
  
  body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/fotografia.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 0;
  }
  
  header{
    height: 80vh;
    background-color: rgba(2, 2, 2, 0.671);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }
  /* MENU */
  .hamburger{
    z-index: 10;
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  }
  
  .menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    display: flex;
    flex-direction: column;
    z-index: 12;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(100%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  }
  
  .spread{
    transform: translate(0);
    z-index: 11;
  }
  
  .menu-navegacion a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .titulo{
    font-size: 62px;
    margin-bottom: 15px;
  }
  
  .header_logo{
    float: left;
    margin-top: 30px;
    margin-left: 40px;
  }
  
  .header_logo a{
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    z-index: 10;
    position: fixed;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 37px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.658);
    color: #ffffff;
  }
  
  .header_logo a .strong-blue{
    color: #026fff;
  }
  
  .header_logo a .strong-white{
    color: white;
  }
  
  /* MAIN */
  .wrapper{
    max-width: 1000px;
    flex: 1;
    margin: 20px auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
  
  
  figure {
    margin: 0;
  }
  
  .event-list{
    display: flex;
    flex-wrap: wrap;
  }
  
  .event{
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #00000059;
  }
  
  .event-detail{
    margin: 20px 40px;
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.671);
  }
  
  .event-title{
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .event-description{
    text-align: left;
    font-size: 17px;
    margin-bottom: 15px;
  }
  
  .event-url{
    color: #056fff;
    border-radius: 5px;
    border: 1px solid ;
    padding: 5px 20px;
    text-decoration: none;
  }
  
  .event-list-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration-line: underline;
    margin-top: 30px;
    text-align: center;
  }
  
  /* FOOTER */
  footer{
    /* background: #9f8ad0; */
    /* background-image: url('../img/bg-footer.jpg'); */
    background-color:transparent;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 0.1px;
  }
  
  .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  
  .contact-us{
    width: 40%;
    color: #fff;
  }
  
  .brand{
    font-weight: 500;
    font-size: 40px;
  }
  
  .brand+p{
    font-weight: 500;
  }
  
  .social-media{
    width:50%;
    display: flex;
    justify-content: flex-end;
  }
  
  .social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
  }
  
  .social-media-icon:hover{
    background: white;
    color: #202020;
  }
  
  .social-media-icon i{
    font-size: 30px;
    line-height: 60px;
  }
  
  .line{
    width: 90%;
    max-width: 1200px;
    height: 2px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 60px;
  }
  
  
  @media screen and (max-width: 800px){
    .menu-navegacion{
      width: 50vw;
    }
  
    .titulo{
      font-size: 60px;
    }
  
    .footer-content{
      justify-content: center;
    }
  
    .social-media{
      width: 80%;
      justify-content: space-evenly;
    }
  
    .social-media i{
      margin-left: 0;
    }
  
    .social-media-icon{
      margin-left: 0;
    }
  
    .contact-us{
      text-align: center;
      width: 80%;
      margin-bottom: 40px;
    }
  
    .event-url{
      font-size: 20px;
    }
  
    .wrapper{
      margin: auto;
    }
    
    .event{
      margin: 12px auto;
      max-width: 600px;
      width: 450px;
    }
  
    .event-list{
      display: block; 
    }
  
    .contenedor-mayor{
      margin: 0 auto;
    }
  
    .header_logo a{
      background: hsl(0deg 0% 0% / 75%);
    }
  }
  
  @media screen and (max-width: 500px){
    .menu-navegacion{
      width: 65vw;
    }
  
    .hamburger{
      top: 20px;
      right: 20px;
    }
  
    .titulo{
      font-size: 55px;
    }
  
    .social-media{
      width: 100%;
    }
  
    .contact-us{
      width: 90%;
    }
  
    .event{
      margin: 15px auto;
      max-width: 350px;
      min-width: 130px;
    }
  
    .event-detail{
      box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    }
  
    .header_logo a{
      position: absolute;
      display: grid;
    }
  }
  @media screen and (max-width: 450px){
    .header_logo a{
      box-shadow: 0 0 6px rgba(0, 0, 0, .5);
      background: hsl(0deg 0% 0% / 75%);
      font-size: 30px;
      margin-top: -10px;
      position: absolute;
      margin-left: -20px;
    }
    .event{
      margin: 15px auto;
      max-width: 300px;
      min-width: 130px;
    }
  }
  @media screen and (max-width: 310px){
    .titulo{
      font-size: 47px;
    }
  
    .event{
      max-width: 90vw;
    }
  
    .event-title{
      font-size: 25px;
    }
  
    .brand{
      font-size: 34px;
    }
  
    .contact-us p{
      font-size: 12px;
    }
  
    .header_logo a{
      font-size: 30px;
      margin-top: -10px;
      margin-left: -20px;
      position: absolute;
    }
    .event-url {
      font-size: 15px;
      color: hsl(215deg 100% 51%);
      border-radius: 5px;
      border: 1px solid;
      padding: 5px 20px;
      text-decoration: none;
  }
  }
  
  @media screen and (max-width: 272px){
    .event{
      max-width: 225px;
    }
  
    .event-detail{
      width: 180px;
      margin: 20px auto;
    }
  
    .event-detail h3{
      font-size: 18px;
    }
  
    .event-description{
      font-size: 14px;
    }
  
    .event-url {
      font-size: 14.5px;
      color: hsl(215deg 100% 51%);
      border-radius: 5px;
      border: 1px solid;
      padding: 5px 20px;
      text-decoration: none;
    }
  }
  
  
